footer {
  background-color: $footer_bgColor;
  @include wid70;

div {
  display: flex;
  justify-content: space-between;

  .info {
    width: 300px;

    img {
      width: 100%;
    }
  }

  .links {

    li {
      padding: 10px 0;
      font-size: 23px;
      color: #fff;
    }
  }
}





}
