header {

  @include clearfix;

  background-color: $header_bgColor;
  height: 90px;
  padding: 10px;

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {

      width: 220px;


    }

    nav {

      ul {
        list-style-type: none;

        li {
          display: inline-block;
          padding-right: 70px;

        }
      }
    }


  }







}
