main {
  @include clearfix;
  background-color: $main_bgColor;
  margin: $section_margin;
  padding: 100px;
  .text-lessons {

    float: left;
    width: 50%;
    padding: 0 70px;

    h2 {
      font-size: 35px;
      text-transform: uppercase;
      font-family: 'Nunito', sans-serif;
      padding: 10px 0;
    }

    h3 {
      padding: 30px 0;
    }

    ul {
      padding: 10px 80px;
      li {
        font-size: 23px;
      }
    }

  }

  .image-lessons{
    float: right;
    width: 50%;
    text-align: center;


    img {
      width: 500px;
    }

  }
}
