* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #1b3c59;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #1b3c59;
}

h4 {
  padding: 25px 0;
}

button {
  padding: 10px 25px;
  background-color: #61cf4e;
  margin: 0;
  border: none;
  color: white;
  border-radius: 5px;
}

header {
  background-color: white;
  height: 90px;
  padding: 10px;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top-header .logo {
  width: 220px;
}

header .top-header nav ul {
  list-style-type: none;
}

header .top-header nav ul li {
  display: inline-block;
  padding-right: 70px;
}

main {
  background-color: #e9ebf1;
  margin: 30px 0;
  padding: 100px;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

main .text-lessons {
  float: left;
  width: 50%;
  padding: 0 70px;
}

main .text-lessons h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  padding: 10px 0;
}

main .text-lessons h3 {
  padding: 30px 0;
}

main .text-lessons ul {
  padding: 10px 80px;
}

main .text-lessons ul li {
  font-size: 23px;
}

main .image-lessons {
  float: right;
  width: 50%;
  text-align: center;
}

main .image-lessons img {
  width: 500px;
}

footer {
  padding: 10px;
  background-color: #1b3c59;
}

footer div {
  display: flex;
  justify-content: space-between;
}

footer div .info .immagine {
  width: 200px;
  padding: 50px 0;
}

footer div .links li {
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
}

